@import "../style.mixins/_mixins.scss";

$backgroundBody: #FFFF;
$backgroundCard: #f0f0f0;
$backgroundNumber: #fc60fa;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: $backgroundBody;
}

// Navbar
.menu {
    @include navbar;
}
// Container des cards
.container {
    width: 100%;
    @include flexbox($justify-content: space-evenly);
    flex-wrap: wrap;
}

span {
    font-size: 0.7em;
}
// Card
.card {
    display: inline-block;
    border-radius: 20px;
    background: $backgroundCard;
    box-shadow: 0px 5px 15px -6px rgba(0,0,0,0.3);
    width: 40%;


    // Le container de la partie haute de la card
    &__top {
        display: flex;
    }

    // Le container de la partie du but de la card
    &__number {
        @include flexbox($flex-direction: column);
        border-radius: 20px 0px 20px 0px;
        background: $backgroundNumber;
        color: white;
        padding: 10px;
        width: 50px;

        // Le numéro sans le texte "but n°"
        /*& span:nth-child(2){
            font-size: 1.7em;
        }*/
    }

    // Le container de la partie Date/Minute et Club
    &__info {
        @include flexbox($flex-direction: column, $justify-content: space-evenly);
        width: 90px;
    }

    // Container de la partie Date/Minute
    &__dateMinute {
        // Le span Minute
        & span:nth-child(2) {
            display: none;
        }
    }

    // Container de la partie des détails (toute la partie du bas)
    &__details {
        @include flexbox($flex-direction: column);
        margin: 8px 0px 5px 0px;    
        & div {
            width: 90%;
            margin: auto;
            text-align: center;
            border-radius: 15px;
            background: $backgroundBody;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;       
            padding: 2px 10px;
            margin: 3px 0px;    
        }
        // Les stats à enlever pour mobile (question de place)
        & .card__finishing, .card__assist {
        display: none;
      }
    } 
}