@import "../style.mixins/_mixins.scss";

$backgroundBody: #FFFF;
$backgroundCard: #f0f0f0;
$backgroundNumber: #fc60fa;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: $backgroundBody;
}

// Navbar
.menu {
    @include navbar;
}
// Container des cards
.container {
    width: 100%;
    @include flexbox($justify-content: space-evenly);
    flex-wrap: wrap;
}

span {
    font-size: 0.8em;
}
// Card
.card {
    display: inline-block;
    border-radius: 20px;
    margin-bottom: 15px;
    background: $backgroundCard;
    box-shadow: 0px 5px 15px -6px rgba(0,0,0,0.3);

    // Le container de la partie haute de la card
    &__top {
        display: flex;
    }

    // Le container de la partie du but de la card
    &__number {
        @include flexbox($flex-direction: column);
        padding: 10px;
        border-radius: 20px 0px 20px 0px;
        background: $backgroundNumber;
        color: white;

        // Le numéro sans le texte "but n°"
        & span:nth-child(2){
            font-size: 1.7em;
        }
    }

    // Le container de la partie Date/Minute et Club
    &__info {
        padding: 5px;
        @include flexbox($flex-direction: column, $justify-content: space-evenly);
    }

    // Container de la partie Date/Minute
    &__dateMinute {
        padding: 0px 10px;
        // Le span Minute
        & span:nth-child(2) {
            display: none;
        }
    }

    // Container de la partie des détails (toute la partie du bas)
    &__details {
        @include flexbox($flex-direction: column);
        margin-top: 10px;
        & div {
            width: 90%;
            text-align: center;
            border-radius: 10px;
            margin-bottom: 8px;
            background: $backgroundBody;
        }
        // Les stats à enlever pour mobile (question de place)
        & .card__finishing, .card__assist {
        display: none;
      }
    } 
}