@import "../style.mixins/_mixins.scss";

$backgroundBody: #0d192d;
$backgroundCard: #1a2a45;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: $backgroundBody;
}

// Container des cards
.container {
    width: 100%;
    @include flexbox($flex-direction: column);
}

// Les cards
.card {
    background-color: $backgroundCard;
    display: inline-block;
    width: 95%;
    border-radius: 25px;
    font-size: 0.7em;
    padding: 10px 20px;
    color: white;
    box-shadow: 0px 0px 6px 5px rgba(0,0,0,0.20);
    margin-bottom: 15px;

    // le haut de la card
    &__top {
        @include flexbox($justify-content: space-between);
        margin-bottom: 13px;
    }

    // Le logo du club
    &__club img {   
        width: 15px;
    }

    // Le bas de la card
    &__bottom {
        @include flexbox($justify-content: space-between);
        width: 100%;
    }

    // Les deux blocs container des stats
    & .card__stats1, .card__stats2 {
        width: 48%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    // Les div des stats
    & .card__opponent, .card__finishing, .card__competition, .card__assist {
        background: $backgroundBody;
        text-align: center;
        width: 100%;
        padding: 5px 15px;
        border-radius: 25px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    // Les deux premières stats du haut
    & .card__opponent, .card__assist  {
        margin-bottom: 12px;
    }
}


// Card
